<div id="main-content" class="span12">
  <ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#paid">悬赏问题</a></li>
    <li><a href="#free">社区问题</a></li>
  </ul>
  <div id="questions">
    <%= render :partial => 'paid', :collection => @questions, :as => :question %>
    <%= render '/partials/load_more' %>
  </div>

</div>
<div id="sidebar" class="span4">
  <ul class="tabs right-tabs">
    <li class="active"><a href="#">最高奖项</a></li>
  </ul>
  <div class="items">
    <% @questions.first(5).each do |question| %>
      <div class="item">
        <%= link_to truncate(question.title, :length => 20), question %>
      </div>
    <% end %>
  </div>
  <ul class="tabs right-tabs">
    <li class="active"><a href="#">热门问题</a></li>
  </ul>
  <div class="items">
    <% @questions.first(5).each do |question| %>
      <div class="item">
        <%= link_to truncate(question.title, :length => 20), question %>
      </div>
    <% end %>
  </div>
  <ul class="tabs right-tabs">
    <li class="active"><a href="#">最近获胜</a></li>
  </ul>
  <div class="items">
    <% User.all.first(5).each do |user| %>
    <% question = Question.first %>
      <div class="item">
        <%= link_to user.name, user %> 在 <%= link_to truncate(question.title, :length => 20), question %> 问题中赢得了 10元。
      </div>
    <% end %>
  </div>
</div>
<div id="loading" class="span12" style="display:none"></div>
<script type="text/javascript" charset="utf-8">
var current_page = 1, url = "/questions/index";
$(function() {
  $('#main-content .tabs').bind('change', function (e) {
    current_page = 1;
    $("#questions").html($("#loading").clone().show());
    url = "/questions/" + e.link.replace("#","");
    $.get(url,function(data){
        $("#questions").html(data);
        var $qlm = $("#questions #load-more");
        $qlm.length&&$("#questions #load-more").attr("data-url", url)
      });
  })
  
  $("#load-more").live("click",function(){
    $.ajax({
      url: $(this).attr("data-url"),
      type: "get",
      dataType: "script",
      data: {page: ++current_page},
      beforeSend: function(){
        $("#load-more .blueText").hide();
        $("#load-more .spinner").show();
      },
      complete: function(){
        $("#load-more .spinner").hide();
        $("#load-more .blueText").show();
      }
    });
    return false;
  });
});
</script>