<div id="question-header">
  <h1><%= link_to safe_html(@question.title), @question, :class => "question-hyperlink" %></h1>
</div>
<div class="question_detail">
  <div class="current_question_contorl">
    <% if @question.followed_dy? current_user.id %>
      <a class="btn" id="followed_question" href="/questions/<%= @question.id %>/follow">已关注</a>
    <% else %>
      <a class="btn success" id="followed_question" href="/questions/<%= @question.id %>/follow">关注问题</a>
    <% end %>    
  </div>
  <div class="question_info">
      <h4>问题状态</h4>
      <p>关注者<span class="blueBlod"><%= @question.votes_count %></span>人</p>
      <% @question.followed_users.each do |user|%>
        <a title="<%= user.name %>" href="../users/<%= user.id %>"><img src="<%= user.gavatar %>" class='user_head'/></a>
      <% end %> 
  </div>
</div>
<div id="main-content" class="span12">
  <%= div_for(@question, :class => "clearfix") do %>
  <div class="vote-area">
    <a class="vote-up-off" href="/questions/<%= @question.id %>/vote_for">up vote</a>
    <span class="vote-count-post" id="<%= @question.id %>"><%= @question.votes_count %></span>
    <a class="vote-down-off" href="/questions/<%= @question.id %>/vote_against">down vote</a>
    <a class="star-off" id="favorite-question" href="#" title="This is a favorite question (click again to undo)">favorite</a>
    <div class="favoritecount">
      <span>1</span>
    </div>
  </div>
  <div class="post">
    <div class="content">
      <%= @question.content.html_safe %>
    </div>
    <%= render "/partials/passport", :user => @question.user %>
  </div>
  <% end %>
  
  <% if @question.answered_by? current_user.id %>
    <div id="my-answer">
      <div id="my-answer-header">
        <div class="subheader">
          <h2>我的答案</h2>
        </div>
      </div>
      <%= render @question.answer_for current_user.id %>
    </div>
  <% end %>
  <div id="answers">
    <div id="answers-header">
      <div class="subheader">
        <% if @question.answers_count > 0 %>
        <h2><%= @question.answers_count %> 个答案</h2>
        <% end %>
      </div>
    </div>
    <%= render @question.answers %>
  </div>
  <%= render 'answer_form' %>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".vote-up-off, .vote-down-off").live("click", function(e){
      e.preventDefault();
      var dom = this;
      $.ajax({
        url: this.href,
        type: 'PUT',
        dataType: 'json',
        success: function(data, textStatus, xhr) {
          $("#"+data.id).html(data.votes_count);
        },
        error: function(xhr, textStatus, errorThrown) {
          showAjaxError($(dom).closest(".vote-area"),"不能重复投票")
        }
      });
    });
    function showAjaxError(a,d){
      var e=$('<div class="error-notification supernovabg"><h3>'+d+"</h3>(点击此区域消除显示)</div>");
      var c=function(){
        $(".error-notification").fadeOut("fast",function(){
          $(this).remove()
          })
        };
        e.click(function(f){
          c()
        });
        a.append(e);
        e.fadeIn("fast");
        setTimeout(c,4000)
      }
  });
</script>