<%= form_for(@request_invitation) do |f| %>
  <% if @request_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_invitation.errors.count, "error") %> prohibited this request_invitation from being saved:</h2>

      <ul>
      <% @request_invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
