<div class="follower">
  <a href="/users/<%= user.id %>"><img src="<%= user.gavatar %>" class=""/></a>
  <h4><a href="/users/<%= user.id %>"><%= user.name%></a></h4>
  <p><%= user.about_me %></p>
</div>