<div class="follower">
  <a href="/users/<%=follow.id%>"><img src="<%=follow.gavatar%>" class=""/></a>
  <h4><a href="/users/<%=follow.id%>"><%=follow.name%></a></h4>
  <p><%=follow.about_me%></p>
</div>