<div class="question created">
  <h3 class="title"><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>
  <div class="ops">
    <a href="/questions/<%= question.id %>"><%= question.answers_count %>回答</a>
    <span class="time"><%= question.created_at %></span>
  </div>
</div>
