<div class="question created">
  <h3 class="title"><a href="/questions/<%= myquestion.id %>"><%= myquestion.title %></a></h3>
  <div class="ops">
    <a href="/questions/<%= myquestion.id %>"><%= myquestion.answers_count %>回答</a>
    <span class="time"><%= myquestion.created_at %></span>
  </div>
</div>
