<div id="main-content" class="span12">
  <div class="profile clearfix">
    <div class="profile-avatar">
      <div class="profilePicThumb">
        <div class="uiScaledImageContainer profilePic" id="avatar">
          <%= image_tag @user.gavatar, :class => "img" %>
        </div>
      </div>
      <% if @user.id == current_user.id %>
      <div class="upload-button">
        <div class="fluploader_wrapper">
          <div class="fluploader_select uiButton">
            <div class="select-photo">更换头像</div>
          </div>
          <div class="fluploader_swfdiv">
            <input id="uploadify" name="uploadify" type="file" />
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="profile-detail">
      <% if @user.id == current_user.id %>
      <h2><%= on_the_spot_edit @user, :name %></h2>
      <p><%= on_the_spot_edit @user, :about_me %></p>
      <% else %>
      <h2><%= @user.name %></h2>
      <p><%= @user.about_me %></p>
      <% end %>
      <strong>#<%= @user.reputation %></strong>
    </div>
  </div>
</div>
<div id="sidebar" class="span4">
  <% if @user.id == current_user.id %>
  <% else %>
    <div class="operate-me">
      <a id="profile-send-message" class="normal large btn span2">私 信</a></br></br>
      <% if @user.has_relationship_redis(current_user.id) %>
         <a id="follow-user"href="/users/<%= @user.id %>/follow" class="normal large btn span2">取消关注</a>
      <% else %>
        <a id="follow-user"href="/users/<%= @user.id %>/follow" class="success large btn span2">关 注</a>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row span16">
  <ul id="tab-profile" class="tabs" data-tabs="tabs">
    <li class="active"><a href="#myquestions">我的问题<span class="label notice"><%=@user.questions_count%></span></a></li>
    <li><a href="#myanswers">我的答案<span class="label notice"><%=@user.answers_count%></span></a></li>
    <li><a href="#winquestions">胜出的答案<span class="label notice"><%=@user.questions_count %></span></a></li>
    <li><a href="#favorites">收藏的问题<span class="label notice"><%=@user.favorite_questions_count %></span></a></li>
    <li><a href="#watches">关注的问题<span class="label notice"><%=@user.followed_questions_count %></span></a></li>
    <li><a href="#followings">关注<span class="label notice"><%=@user.followings_count %></span></a></li>
    <li><a href="#followers">关注者<span class="label notice"><%=@user.followers_count %></span></a></li>
  </ul>
  <div id="tab-content">
    <%= render partial: "myquestion", :collection => @user.questions, :as => :question %>
  </div>
</div>
<div id="loading" class="span12" style="display:none"></div>


<div id="dlg-send-message" style="display:none;">
  <div id="message-recipient" class="ui-dialog-box">
    <span>发给:</span>
  </div>
  <div id="message-body" class="ui-dialog-box">
    <span>私信:</span>
    <textarea></textarea>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
var profileOwner = {
  id : "<%= @user.id %>",
	name : "<%= @user.name %>",
	avatar : "<%= @user.gavatar %>"
}

$(function () {
  $(".nav li").removeClass('active');
  $("#profile-page").addClass('active');
  
  $('.tabs').bind('change', function (e) {
    $("#tab-content").html($("#loading").clone().show());
    url = "/users/<%= @user.id %>/" + e.link.replace("#","");
    $.get(url,function(data){
        $("#tab-content").html(data);
      });
  })

  <% key = Rails.application.config.session_options[:key] %>
  var uploadify_script_data = {};
  var csrf_param = $('meta[name=csrf-param]').attr('content');
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
  uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  $('#uploadify').uploadify({
    uploader      : '/assets/uploadify.swf',
    script        : '/photos',
    cancelImg     : '/images/cancel.png',
    auto      : true,
    multi     : false,
    removeCompleted : true,
    fileExt			: '*.jpg;*.jpeg;*.gif;*.png',
    fileDesc		: 'Image Files (.JPG, .JPEG, .GIF, .PNG)',
    scriptData		: uploadify_script_data,
    wmode			: "transparent",
    hideButton		: true,
    height			: 20,
    width			: 58,
    queueID			: 'photos_Queue',
    onComplete		: function(event, ID, fileObj, response, data) {
      response = eval('(' + response + ')');
      $("#avatar").html('<img class="img" src="'+response.url+'">');
    }
  });
});
</script>