<!DOCTYPE html>
<html>
<head>
  <title>Magic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="/">Magic Q&A</a>
        <ul class="nav">
          <li id="questions-page" class="active"><a href="/">首页</a></li>
          <li id="profile-page"><a href="/users/<%= current_user.id %>">个人主页</a></li>
          <li id="create-question-page"><a href="/questions/new">提问</a></li>
        </ul>
        <ul class="nav secondary-nav">
          <li id="messages-page">
            <a href="/messages">私信<span id="nav-msg-new-num" style="display: none; "></span></a>   
          </li>
          <li id="notify-page">
            <a href="javascript:void(0)">通知<span id="nav-ntf-new-num" style="display: none; "></span></a>   
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle"><%= current_user.name %></a>
            <ul class="dropdown-menu">
              <li><a href="/accounts">帐户流水</a></li>
              <li class="divider"></li>
              <li><a href="/users/sign_out">退出帐户</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="page-outer">
      <div id="page-container" class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  <div style="z-index: 1000; ">
    <div id="msg_warpper" style="position: absolute;display:none;">
      <div id="msg_warpper_head">
        <a href="#">我是通知</a>
        <a class="msg_warpper_close" href="#">x</a>
      </div>
      <div id="msg_warpper_nav">
        <ul id="msg_warpper_links">
          <li><a href="javascript:void(0)" class="currentChose">我是选项A</a></li>
          <li><a href="javascript:void(0)">我是选项B</a></li>
        </ul>
      </div>
      <div id="msg_warpper_container"></div>
      <div id="msg_warpper_footer">
        <a id="msg_warpper_close">关了我吧</a>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript" charset="utf-8">
  //Messages Pusher
  var pusher = new Pusher('2f20b4687fdaada149b2');
  var message_channel = pusher.subscribe("presence-messages_<%= current_user.id %>");

  message_channel.bind('message_created', function(message) {
    count = 1;
    if($('#nav-msg-new-num').text().trim() != '')
      count = parseInt($('#nav-msg-new-num').text().trim()) + 1;
    $('#nav-msg-new-num').text(count).show();
  });
  $(function(){
    initNav();
    msg_warpper_init()
    $("#notify-page a").bind('click',function(){
      $("#msg_warpper").slideToggle();
    })
  });
  function msg_warpper_init(){
    $(document).mouseup(function(event){
        if($(event.target).parents("#msg_warpper").length==0){
          if($("#msg_warpper").css('display')=='block'&&$(event.target).parent('#notify-page').length != 0)
            return false
          $("#msg_warpper").slideUp()
        }
    }).keyup(function(event){
          if(event.keyCode == 27)
            $("#msg_warpper").slideUp()
        });
    $("#msg_warpper_head .msg_warpper_close,#msg_warpper_close").bind("click",function(){
        $("#msg_warpper").slideUp()
      })
    // $(document.body)

  }
</script>
