<div class="record-table">
      <a class="primary btn" id="recharge-button">充值</a>
      <div class="clearfix">
        <div class="input">      
          <input id="input-credit" maxlength="10" name="credit" size="10" type="text" placeholder="请输入要充值的数目">  
          <span id="recharge-tips"></span>
        </div>
      </div>
  <h1>帐户基本信息</h1>
  <table class="bordered-table">
    <thead>
      <tr>
        <th>现金</th>
        <th>积分</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="credit">¥ <%= @user.credit %></td>
        <td id="reputation"># <%= @user.reputation %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="record-table">
  <h1>充值流水</h1>
  <table class="bordered-table zebra-striped">
    <thead>
      <tr><th>日期</th><th>单号</th><th>概述</th><th>类型</th><th>金额</th><th>状态</th></tr>
    </thead>
    <tbody>
      <% if @user.recharge_records.empty? %>
      <tr><td colspan="6"><div class="table-info">暂时没有充值记录</div></td></tr>
      <% else %>
      <% @user.recharge_records.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= record.id %></td>
        <td>充值</td>
        <td>收入</td>
        <td><%= record.credit %></td>
        <td><% if record.trade_status == 0 %>等待付款<% else %>充值成功<% end %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="record-table">
  <h1>现金帐户流水</h1>
  <table class="bordered-table zebra-striped">
    <thead>
      <tr><th>日期</th><th>概述</th><th>类型</th><th>金额</th><th>状态</th></tr>
    </thead>
    <tbody>
      <% if @user.credit_transactions.empty? %>
      <tr><td colspan="5"><div class="table-info">暂时没有现金流水记录</div></td></tr>
      <% else %>
      <% @user.credit_transactions.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime("%Y/%m/%d") %></td>
        <td><% if record.question_id and record.answer_id == nil %>提问：<%= link_to record.question.title, record.question %> <% end %></td>
        <td><% if record.payment %>支出<% else %>收入<% end %></td>
        <td><%= record.value %></td>
        <td><% if record.trade_status == 0 %>答题中<% else %>成功<% end %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="record-table">
  <h1>积分帐户流水</h1>
  <table class="bordered-table zebra-striped">
    <thead>
      <tr><th>日期</th><th>概述</th><th>类型</th><th>数额</th><th>状态</th></tr>
    </thead>
    <tbody>
      <% if @user.reputation_transactions.empty? %>
      <tr><td colspan="5"><div class="table-info">暂时没有积分流水记录</div></td></tr>
      <% else %>
      <% @user.reputation_transactions.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime("%Y/%m/%d") %></td>
        <td>
        <% if record.question_id and record.answer_id == nil %>
        提问：<%= link_to record.question.title, record.question %>
        <% elsif record.answer_id %>
        回答：<%= link_to record.question.title, record.question %>
        <% end %>
        </td>
        <td><% if record.payment %>支出<% else %>收入<% end %></td>
        <td><%= record.value %></td>
        <td><% if record.trade_status == 0 %>答题中<% else %>成功<% end %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div id="dlg-recharge">
</div>
<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function($) {
    var rechargeDialog = {
      autoOpen: false,
      modal: true,
      width: 500,
      height: 285,
      resizable: false,
      title: '充值',
      draggable: false,
      buttons: {
        "确认充值": function() {
          $($("#payment-form").get(0).utf8).remove()
          url = "https://www.alipay.com/cooperate/gateway.do?" + $("#payment-form").serialize()
          window.open( url, "_blank")
          $(this).dialog('option',callbackDialog);
        },
        "取消": function() {
          $(this).dialog("close");
        }
      }
    },
    callbackDialog = {
      buttons: {
        "完成": function() {
          $.get('/cash', function(data, textStatus, xhr){
            $('#credit').text(data.credit);
            $('#reputation').text(data.reputation);
            $('#input-credit').val("");
            $('#dlg-recharge').dialog("close");
          });
        },
        "遇到困难": function() {
          $(this).dialog("close");
        }
      }
    };
    $('#dlg-recharge').dialog(rechargeDialog);
    $("#recharge-button").click(function(){
      $('#recharge-tips').text('').fadeOut();
      var inputCredit = $('#input-credit').val().trim();
      if(checkNum(inputCredit)&&inputCredit!='0'){
       $.post("/recharge/generate_order",
         {credit: inputCredit},
         function(data){
           $id = $("<div/>").append("订单号：" + data.order_id);
           $credit = $("<div/>").append("充值金额：" + data.order_credit)
           $('#dlg-recharge').html($("<div/>").append($id).append($credit).append(data.html))
           $('#dlg-recharge').dialog("open");
         });
      }else{
        $('#recharge-tips').text('请输入正确的充值金额').fadeIn().addClass('error-tips');
        return false;      
      }
     });
  });
</script>
